body {
  height: 100%;
}
@font-face {
    font-family: supermarket;
    src: url('font/supermarket.ttf');
}
    

@keyframes AnimationName { 
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

body {
	/*background-color: #FEF5E7;*/
	font-family: supermarket; 
	/*background: linear-gradient(182deg, #fef5e7, #ffdfad, #d7bb9a);
	background-size: 600% 600%;*/
	background: linear-gradient(91deg, #fccf8b, #d8c926, #b86cfa, #f800e8, #9a5700);
	background-size: 1000% 1000%;

	animation: AnimationName 30s ease infinite;
}

.home-bg{
  background-color: #fff;
}

.btn-orange {
  color: #fff;
  background-color: #FF5733;
  border-color: #FF2D00;
}
